<div class="flex">
    <div class="divisao center">
        <h1>Recuperação de senha</h1>
        <div class="centercomponent">
            <app-form-reset></app-form-reset>
        </div>
        <div class="centercomponent">
            <app-confirm-pass></app-confirm-pass>
        </div>
        <div class="centercomponent">
            <app-define-pass></app-define-pass>
        </div>
    </div>
    <div class="divisao center">
        <figure>
            <Img src="../.././../assets/LGPD.png" alt="foto" class="img-full"/>
        </figure>
    </div>
</div>
