<h2>{{CreateEdit}} Oportunidades</h2>
<form [formGroup]="form" autocomplete="off">
    <mat-form-field>
        <mat-label>Responsavel</mat-label>
        <input matInput type="text" formControlName="responsavel" placeholder="Responsavel">
    </mat-form-field>
    <br>
    <mat-form-field class="w-75">
        <mat-label>CNPJ</mat-label>
        <input matInput type="number" formControlName="cnpj" placeholder="Digite o CNPJ" (keydown.Tab)="ValidaCampoCNPJ()" 
        (focusin)="ValidaCampoCNPJ()" (focusout)="ValidaCampoCNPJ()">
    </mat-form-field>

    <mat-form-field class="w-75">
        <mat-label>CPF</mat-label>
        <input matInput type="number" formControlName="cpf" placeholder="Digite o CPF" (keydown.Tab)="ValidaCampoCPF()" 
        (focusin)="ValidaCampoCPF()" (focusout)="ValidaCampoCPF()">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Aprovador</mat-label>
        <input matInput type="text" formControlName="aprovador" placeholder="Aprovador da Oportunidade">
    </mat-form-field>
    <br>
    <mat-label>Oportunidade ativa ?</mat-label>
    <app-select-ativo [form]="form" [FormControlName_]="'ativo_opo'"></app-select-ativo>

    <br>
    <mat-label>Status de Oportunidade</mat-label>
    <app-select-opo [form]="form" [FormControlName_]="'status_opo'"></app-select-opo>
    <mat-form-field>
        <mat-label>Nome do Produto</mat-label>
        <input matInput type="text" formControlName="nome_produto" placeholder="Nome do Produto">
    </mat-form-field>
    <br>
    <mat-label>Tipo de Produto</mat-label>
    <app-select-product [form]="form" [FormControlName_]="'tipo_produto'"></app-select-product>
    <br>
    <mat-form-field>
        <mat-label>Preço</mat-label>
        <input matInput type="number" formControlName="preco_produto">
    </mat-form-field>
    <!-- <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput type="date" formControlName="data">
    </mat-form-field> -->

    <mat-form-field>
        <mat-label>Data da Oportunidade</mat-label>
        <input matInput [matDatepicker]="picker"  formControlName="data">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <input matInput hidden type="text" formControlName="id_opo">
    <input matInput hidden type="text" formControlName="id_produto">

    <button mat-button (click)="Onsubmit()" [disabled]="form.invalid">Salvar</button>
    <button mat-button (click)="Close()">Sair</button>
</form>